<h3>Scawy Monstur is based out of the dregs of Portland, Oregon.</h3>
<p>We are made up of:</p>

<p>Pat Moran - Co-editor and founder<br/>
Tim Lane- Co-editor<br/>
Dan Caccavano - Photo Editor<br/>
James Pozdena - Developer<br/>
Mr. Monstur - A Monster</p>

<h4>Mission:</h4>

<p>Scawy Monstur is dedicated to publishing new and original creativity in any form. Focusing mainly on short fiction and photography, we believe in the notion that a truly creative vision can not be shrink wrapped or packaged. We strive to produce work that stays with you and keeps you guessing.<p/> 

<p>Being writers and artists ourselves, we at Scawy Monstur seek to promote both unpublished burgeoning artists and those who are experienced. <p/> 

<p>Anything goes with Scawy Monstur. As long as it is good. <p/> 

<h4>Submissions:</h4>

<p>We are now accepting submissions for our Winter Issue. We are looking for short stories(under 1500 words), nano fiction (under 200 words), poetry (the shorter the better), woodcuts, paintings, carvings, photography....Anything really.<p/> 

<p>WE DO NOT PAY MONEY. Sorry, but this is all out of pocket. We will send you Two hard copies and will also send you a present. Yes. A present. It could be anything from an old book to a new pair of socks. <p/> 

<p>The wait time is two to four weeks for response.<p/> 

<p>For all inquiries email us at <a href="mailto:mrmonstur@scawymonstur.com">MrMonstur@scawymonstur.com</a><p/> 
